.header {
	width: 100%;
	position: relative;
	z-index: 2;
  margin-bottom: 150px;
}

/* Stilizarea containerului pentru secțiunea de personalizare a papucilor */
.container {
  max-width: 1200px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stilizarea titlului secțiunii */
h4 {
  font-size: 24px;
  color: #333;
  margin: 0;
}


/* Stilizarea listei de opțiuni de personalizare */
ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Stilizarea textului paragrafelor */
p {
  font-size: 16px;
  color: #777;
  line-height: 1.5;
  margin: 0;
}
